body {
    /*background-image: url(../imagenes/indexbg.jpg);*/
    font-family: sans-serif;
    margin: 0;
    background-color: #0E0B16;
    
    }
    
    .logo {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 2px 2px rgb(0, 0, 0) ;
      
        
    }
    
    header {
        display: flex;
        justify-content: space-around;
        height: 70px;
        background-color: #1f1f1f;
        color:#FFFFFF;
        align-items: center;
        margin: auto;
        
    }
    
    .searchbar input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
      }
    
    .logo img {
        margin-right: 10px;
        height: 50px;
    }
    
    
    nav a{
    font-weight: 600;
    padding-right: 10px;
    
    }
    
    nav a:hover{
        color:#f8413c;
        
    }
    
    a {
         text-decoration: none;
         color: #FFFFFF;
    
    }



.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
  color: whitesmoke;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: rgba(138, 130, 130, 0.253);
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  border-radius: 5px;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: double;
  border-color: #0E0B16;
  background: rgb(255, 255, 255);
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
  align-items: center;
}


    footer {
        display: flex;
        justify-content: space-around;
        height: 70px;
        background-color: #1f1f1f;
        color:#FFFFFF;
        align-items: center;
        
        margin-top: 17em;
        
    }
    