body {
/*background-image: url(../imagenes/indexbg.jpg);*/
font-family: sans-serif;
margin: 0;
background-color: #0E0B16;

}

.logo {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 2px 2px rgb(0, 0, 0) ;
  
    
}

header {
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: #1f1f1f;
    color:#FFFFFF;
    align-items: center;
    margin: auto;
    
}

.searchbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }

.logo img {
    margin-right: 10px;
    height: 50px;
}


nav a{
font-weight: 600;
padding-right: 10px;

}

nav a:hover{
    color:#f8413c;
    
}

a {
     text-decoration: none;
     color: #FFFFFF;

}

.EPtext {
    margin-top: 120px;
    color: #FFFFFF;
    
}

.EvPr {
text-align: center;
display: flex;
align-items: center;
justify-content: baseline;

}

.eventodef {
    margin: 10px;
    border: 1px solid #007385;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-color: #1f1f1f;
    text-align: center;
    justify-content: center;
     
}

.eventodef:hover {
    color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
 
}
  
ul {
    list-style-type: none;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 70px;
    background-color: #1f1f1f;
    color:#FFFFFF;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    
}
